   * {
		padding: 0;
		margin-top: 0;
	}
	html {
		margin: 0px;
		margin-top : 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		height: 100%;
   }
   body {
	   background-image:URL(./images/tlo.gif);
		margin-top : 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		height: 100%;
   } 
	
	a img {
		border: none;
	}	
	img.alignleft {
		display: inline;
		float: left;
		margin-right: 15px;
		margin-top: 4px;
	}
	img.alignright {
		display: inline;
		float: right;
		margin-left: 15px;
		margin-top: 4px;
	}
	img.aligncenter {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	img.alignleft,
	img.alignright,
	img.aligncenter {
		margin-bottom: 12px;
	}

	.header_img_green
	 {
		height: 459px;
		min-height: 459px;
		width: 768px;
		min-width: 768px;
		background-image: URL(./images/banners/banner_green.gif);
		background-repeat: no-repeat;
	}
	.header_img_blue
	 {
		height: 459px;
		min-height: 459px;
		width: 768px;
		min-width: 768px;
		background-image:URL(./images/banners/banner_blue.gif);
		background-repeat: no-repeat;
	}
	.header_img_purple
	 {
		height: 459px;
		min-height: 459px;
		width: 768px;
		min-width: 768px;
		background-image:URL(./images/banners/banner_purple.gif);
		background-repeat: no-repeat;
	}
	.header_img_red
	{
		height: 459px;
		min-height: 459px;
		width: 768px;
		min-width: 768px;
		background-image:URL(./images/banners/banner_red.gif);
		background-repeat: no-repeat;
	}
	.header_img_orange
	{
		height: 459px;
		min-height: 459px;
		width: 768px;
		min-width: 768px;
		background-image:URL(./images/banners/banner_orange.gif);
		background-repeat: no-repeat;
	}
	.blue_item{
		display: inline;
		float: left;
		margin-right: 24px;
		margin-top: 4px;

		height: 43px;
		min-height: 43px;
		width: 39px;
		min-width: 39px;
		background-image:URL(./images/blue_item.gif);
		background-repeat: no-repeat;
	}
	
	.purple_item{
		display: inline;
		float: left;
		margin-right: 24px;
		margin-top: 4px;

		height: 28px;
		min-height: 28px;
		width: 28px;
		min-width: 28px;
		background-image:URL(./images/purple_item.gif);
		background-repeat: no-repeat;
	}
	
	#menu{
		margin: 10px 0px 0px 0px;
		list-style: none;
	}

	#menu li {
	margin: 10px 10px 10px 10px;
}

	#menu a {
	text-decoration: none;
	font-size: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 2px 20px 2px 20px;
	}	
	
	#menu .green a
	{
		color: #555;
	}
	#menu .green a:hover
	{
		color: #6b8e23;
	}
	#menu .orange a
	{
		color: #555;
	}
	#menu .orange a:hover
	{
		color: #FFA500;
	}
	#menu .blue a
	{
		color: #555;
	}
	#menu .blue a:hover
	{
	color: #4169e1;
	}
	#menu .purple a
	{
		color: #555;
	}
	#menu .purple a:hover
	{
		color: #800080;
	}
	#menu .red a
	{
		color: #555;
	}
	#menu .red a:hover
	{
		color: #b22222;
	}

	.normal {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	padding-left: 15px;
	padding-right: 105px;
	padding-bottom: 20px;
	}
	
	.small {
	font-size: 9px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	padding-left: 15px;
	padding-right: 10px;
	padding-bottom: 20px;
	}
	
	.normal a {
		font-style: italic;
	}

	.purple h3
	{
	
		color: #800080;
	}
	
	.purple td a
	 {
		color: #000;
		font-style: normal;
		font-size: 14px;
		text-decoration: none;
		font-weight: bold;
	}
	
	.purple td a:hover
	{
		text-decoration: underline;
	}

	
	.purple h3 a
	{
		color: #800080;
		font-style: normal;
		text-decoration: none;
	}
	
	.purple h3 a:hover
	{
		text-decoration: underline;
	}

	
	<!-- only IE 6 -->
	table .blue p {
		_padding-bottom:20px;
		_padding-left:15px;
		_padding-right:105px;

	}
	table .purple
	{
		_margin-bottom:20px;
		_margin-right:105px;
	}
	
	.newsletter-box {
	background: #e6e6fa;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 10px;
}
	
	.newsletter-box h2 {
	font-size: 17px;
	color: gray;
	margin-left: 3px;
}
	
	.newsletter-box input {
	background: #f0f8ff;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

	.search-box {
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

	.search-box input{
	background: #003db7;
	background-color: #f0f8ff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
	
